# Ignore tests and .github folders
/tests
/.github

# Ignore other common files and directories
*.log
*.tmp
*.swp
*.DS_Store
*.env

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore database files
*.db
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
